:root {
  --primary-color: rgb(33, 37, 41);
  --secondary-color: rgb(175, 91, 86);
  --header-font: "Scatter Ink";
  --secondary-font: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Scatter Ink";
  src: url(/fonts/ScatterInk-MVVpJ.otf);
}

body,
html {
  margin-top: 50px;
  padding: 0;
  overflow-x: hidden;
  color: white;
  background-color: var(--primary-color);
}

li {
  list-style: none;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: var(--header-font);
  text-align: center;
  font-size: 200px;
  margin-top: 150px;
  margin-bottom: 40px;
  color: var(--secondary-color);
}
h2 {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 24px;
}
h3 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 32px;
  color: var(--secondary-color);
}

p {
  font-family: var(--secondary-font);
  font-weight: 300;
}
.intro-paragraph {
  text-align: center;
  max-width: 500px;
  font-size: 12px;
  margin-bottom: 200px;
}

.about-me {
  border-top: 2px solid;
  border-bottom: 2px solid;
}
.nav-link {
  transition: all 250ms ease-in-out;
}
.nav-link::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 4px;
  width: 0px;
  background-color: var(--secondary-color);
  color: var(--secondary-color);
  transition: all 250ms ease-in-out;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.nav-link:hover::after {
  width: 45px;
}
.active::after {
  width: 45px;
}

.project-col {
  display: flex;
  flex-flow: column;
  gap: 1.7rem;
}

.project {
  width: 320px;
  height: 480px;
  background: #212225;
  border-radius: 0.8rem;
  position: relative;
  overflow: hidden;
}
.weather {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url(/media/weather-check.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tag {
  color: rgb(54, 54, 54);
}

/* Project details:

send all to bottom of column

title - h4
tag-line - span - justfy evenly in a row
source link - a

*/
