:root {
  --primary-color: rgb(33, 37, 41);
  --secondary-color: rgb(175, 91, 86);
  --header-font: "Scatter Ink";
  --secondary-font: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Scatter Ink";
  src: url(/fonts/ScatterInk-MVVpJ.otf);
}

body,
html {
  margin-top: 50px;
  padding: 0;
  overflow-x: hidden;
  color: white;
  background-color: var(--primary-color);
}

li {
  list-style: none;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--header-font);
  font-size: 200px;
  margin-bottom: 40px;
  color: var(--secondary-color);
}

.intro {
  margin-top: 150px;
  margin-bottom: 250px;
  text-align: center;
}

intro-paragraph {
  max-width: 500px;
  font-size: 12px;
}

h2 {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 24px;
}
h3 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 64px;
  color: var(--secondary-color);
  font-family: var(--header-font);
}
h4 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 20px;
}

p {
  font-family: var(--secondary-font);
  font-weight: 300;
}

#projects {
  margin: 50px 0;
}
.nav-link {
  transition: all 250ms ease-in-out;
}
.nav-link::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 4px;
  width: 0px;
  background-color: var(--secondary-color);
  color: var(--secondary-color);
  transition: all 250ms ease-in-out;
}
.nav-link:hover {
  color: var(--secondary-color);
}
.nav-link:hover::after {
  width: 45px;
}
.active::after {
  width: 45px;
}
.project-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}
.project-col {
  display: flex;
  column-gap: 6vw;
}
.project {
  min-width: 24vw;
  height: 480px;
  background: #212225;
  border-radius: 0.8rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.project a {
  padding-right: 15px;
  color:var(--secondary-color);
  
}
.weather {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url(/media/weather-check.png);
  background-position: center;
}
.weather:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url(/media/weather-check.png);
  background-position: center;
  box-shadow: 4px 4px 20px rgb(50, 50, 50);
}

.landing-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url(/media/total-landing-preview.png);
  background-position: right;
}
.landing-page:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url(/media/total-landing-preview.png);
  background-position: right;
  box-shadow: 4px 4px 20px rgb(50, 50, 50);
  
}
.other-project {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url(/media/run-buddy-mockup.jpeg);
}
.other-project:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url(/media/run-buddy-mockup.jpeg);
    box-shadow: 4px 4px 20px rgb(50, 50, 50); 
}
.project-details {
  margin-top: 370px;
  padding-left: 15px;
  font-size: 14px;
}
.tag {
  color: rgb(54, 54, 54);
  font-family: "Barlow Condensed", sans-serif;
  padding-right: 15px;
}
.html {
  color: #e34c25;
}
.css {
  color: #563d7c;
}
.js {
  color: #f1e05a;
}



#about-me {
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin: 60px 20px;
}

.about-paragraph {
text-align: center;

}


.selfie {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  max-width: 250px;

}

.about-text {
  display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
  padding-right: 15px;
}

@media (max-width: 425px) {
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 50px;
    text-align: center;
  }
  .intro {
    margin-bottom: 400px;
  }

  .intro-paragraph {
    font-size: 10px;
  }

  .project-container {
    display: block;
  }

  .project {
    min-width: 100vw;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 0.8rem;
    overflow: hidden;
  }
  .project-details {
    margin-top: 100px;
  }
}
